<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Curso Basico de Vue.js | Platzi</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div id="app">
      <!-- <img v-bind:src="img" v-bind:alt="name" /> -->
      <img
        v-on:mouseover="toggleShowPrices"
        v-on:mouseout="toggleShowPrices"
        :src="img"
        :alt="name"
      />
      <!-- Utilizando un operador ternario asignamos la clase green si changePercent es mayor que cero y rojo si es contrario -->
      <h1 :class="changePercent > 0 ? 'green' : 'red'">
        {{name}}

        <span v-if="changePercent > 0">👍🏽</span>
        <span v-else-if="changePercent < 0">👎🏽</span>
        <span v-else>🤞🏽</span>
      </h1>

      <!-- <span v-on:click="toggleShowPrices"> -->
      <span @click="toggleShowPrices">
        {{ showPrices ? '👀' : '🙅🏽‍♂️'}}
      </span>

      <ul v-show="showPrices">
        <!-- En caso de que vayamos a comparar un objeto en el operador ternario utilizamos la siguiente manera -->
        <!-- asignara la clase orange SI p.value es igual a price y asi sucesivamente para las demas condiciones -->
        <li
          class="uppercase"
          :class="{ orange: p.value === price, red: p.value < price, green: p.value > price}"
          v-for="(p, i) in pricesWithDays"
          :key="p.day"
        >
          {{ i }} - {{p.day}} - {{ p.value }}
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
